.idea/
*.iml
*.out
cmake-build-debug/
target/
__pycache__
.DS_Store
.vscode/
.pynb_checkpoints
__pycache__/
node_modules/
*.so

build/
cmake-build-debug

dependency/
!.gitkeep
aws_sdk*.log
lib
a.out
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
*.cbp
150-protobuf/gen*